# Database
DB_HOST=localhost
DB_PORT=3306
DB_NAME=gostudy_database
DB_USERNAME=gostudy_user
DB_PASSWORD=change_me

# Mail
MAIL_HOST=smtp.example.com
MAIL_PORT=465
MAIL_ENCRYPTION=ssl
MAIL_USERNAME=mail@example.com
MAIL_PASSWORD=change_me
MAIL_FROM_ADDRESS=mail@example.com
MAIL_FROM_NAME=GoStudy